#answer1 {
  display: none;
}

#answer2 {
  display: none;
}

#answer3 {
  display: none;
}

#answer4 {
  display: none;
}

#answer5 {
  display: none;
}

#answer6 {
  display: none;
}

.jumbotron {
  font-family: sans-serif;
  background-color: #17a2b8;
}

h1 {
  padding-left: 10px;
  font-family: sans-serif;
}

img {
  padding-left: 10px;
}

#vacationquiz {
  padding-left: 30px;
}

p {
  padding-left: 15px;
  font-size: 20px;
  font-family: sans-serif;
}
