#answer1 {
  display: none;
  image-orientation: center;
}

#answer2 {
  display: none;
}

#answer3 {
  display: none;
}

#answer4 {
  display: none;
}

jumbotron {
  font-family: sans-serif;
}

h1 {
  padding-left: 10px;
  font-family: sans-serif;
}

#vacationquiz {
  padding-left: 20px;
}

p {
  padding-left: 15px;
  font-size: 20px;
  font-family: sans-serif;
}
